<!DOCTYPE html>
<html>
  <head>
    <title>Our Memories</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render partial: "layouts/scripts" %>
    <%= render partial: "layouts/stylesheets" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
